body{
    background-color: blanchedalmond;
}
h1{
    font: size 900px; ;
    color: darkslategrey;
    text-align: center;
}
img{
    width: 500px;
    height: 500px;
    margin: left 400px;
}
.cabecalho{
     background-color: rgb(204, 205, 207);
     display: flex;
    }
.listacabecalho{
    display:flex;
    margin-left: 760px;
    margin-top: 100px;
}